* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #26262d;
  color: #ffffff;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: min(4vh, 4vw);
}

header img {
  border-radius: 50%;
  height: min(40vh, 40vw);
}

h1 {
  margin: 0;
  font-size: min(12vh, 12vw);
  font-weight: 700;
}

h2 {
  margin: 0;
  font-family: "DM Mono", monospace;
  font-size: min(5vh, 5vw);
  font-weight: 500;
  color: #97a4b7;
}

svg {
  height: min(3.5vh, 3.5vw);
  vertical-align: bottom;
}

p {
  font-family: "DM Mono", monospace;
  font-size: min(2.5vh, 2.5vw);
}

a {
  padding: 5px;
  color: #a9cfff;
  fill: #a9cfff;
  text-decoration: none;
}

a:hover {
  color: #26262d;
  fill: #26262d;
  background-color: #a9cfff;
}

footer {
  text-align: center;
}
